*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  height: 500px;
  width: 500px;
  border: 1px black solid;

  margin: 0 auto;
}

.grid-cells {
  border: 1px black solid;
}
