*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.grid-container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.flexbox-item {
  border: 1px solid black;
  height: 20px;
  width: 20px;
}
